/* :host {
    display: block;
} */

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    list-style-type: none;
}

li {
    background-color: darkblue;
    color: white;
    flex: 1 1 0px;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
    text-align: center;
}