:host {
    display: flex;
    gap: 1rem;
    background-color: lightblue;
    padding: 1rem;
}

.title {
    flex-grow: 1;
}

.products-summary {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
}

.products-summary > .label {
    text-align: right;
}

.logo {
    height: 100px;
}